/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     padding:20px;
     background-image:url("wall.jpg");
 }
 img{
  padding:5px;
 }
 #one{
  border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
 }
 #five{
  color:red;
  text-align: center;
 }
 #ten{
   border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
 }
 #soccer{
  border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
 }
 #vid{
  border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
 }
 #hobb{
  border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
 }
#man{
 text-align: left;
 position: absolute;
 top: 80px;
 right: 0;
 border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
}
#con{
 border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
}
#history{
 border-style:solid;
  border-width:5px 5px 5px 5px;
  font-style: normal;
  font-size: 20px;
  font-weight: lighter;
  background-color:white;
  padding: 10px;
}

 
