    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p id="hobb">My favorite hobby is definetly working on my music. Making music is 
          something I love to do. Along with DJing. They both require lots of practice to gain
          new and better skills. I like to listen to lots of EDM music a lot. I believe
          that it is the type of music that can really get you dancing and that makes you want
          to have a good time.</p>
        </div>
        <div class="col-md-6">
          <%=image_tag "fl.jpg",  width: '500', height: '300'%>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <p id="man">FL Studio is a program for music production. It allows users to use different sounds and 
          instruments to create many pieces of a song. This is the program I use for production. At first it
          can be a little overwhelming, however after using it several times one gets used to it. </p>
        </div>
        <div class="col-md-6">
           <video height="350" class="center" controls="controls">
              <source src="/assets/dj.mp4" type="video/mp4"/>
            </video>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <p id="con">This is a video about a 17 year old kid who shows his audience and viewers 
          on how djing works. He shows off different skills that are used and he elaborates on certain 
          ideas.</p>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>