    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
            <%=image_tag "MatherLogo.png"%>
        </div>
        <div class="col-md-8">
          <p id="one">Mather high school is a 4 year school that offers great oppurtunities to students.This school
          is very diversed. They have many programs including the IT program, the avid program, and the law program.
          They also have many sports such as basketball, soccer, and lacross. The teachers here are very helpful towards
          students and offer tutoring when needed. Overall this school is a school that provides success and great education
          for their students.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <p id="history">Stephen Tyng Mather was a National Park Service founder that founded many of the
          national parks and stayed protecting them.</p>
        </div>
        <div class="col-md-6">
           <%=image_tag "National.jpg", width: '400', height: '300'%>
        </div>
      </div>
      
      
    
    
    
    
    
      
      
      
      
      
      
      
    </div>  