    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <p id="ten">My name is Josue Lopez. I attend a school named Stephen Tyng Mather High School.
          I have two older brothers. Im very intrested in music and i love playing soccer. I try to do 
          my best in school by maintaining good grades. I have lots of friends that I like to hang
          out with.I grew up in Chicago, Illinois. I was born on November 24,1998.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
            <%=image_tag "music.jpg"%>
        </div>
        <div class="col-md-6">
          <%=image_tag "Chicago.jpg", width: '500', height: '300'%>
        </div>
      </div>
        
        
        
        
        
        
        
        
        
        
    </div>