<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1 id="five">Soccer Is Life</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <p id="soccer">Soccer is one of my favorite sports. It involves lots of running and training.
            I play for the Mather team. I play two positions: mid-fielder and a defender.
            I tend to watch many soccer games on tv. I love when the world cup comes
            around. It gets so intense and it's very exciting to watch.</p>
        </div>
        <div class="col-md-6">
             <%=image_tag "training.jpg"%>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <video height="350" class="center" controls="controls">
              <source src="/assets/soccer.mp4" type="video/mp4"/>
            </video>
        </div>
        <div class="col-md-6">
            <p id="vid">This is a video on how some famous players show off their skills and their amazing tricks.
            This will give you an idea of how beautiful this game is!</p>
        </div>
        
    </div>    
    
    
    
    
    
</div>